extends ../layout
block content
  article 
    p=video.description
    each hashtag in video.hashtags
      kbd=hashtag
      span  
    small=video.formattedDate
  div.grid
    a(href=`${video.id}/edit` class="secondary") Edit Video &rarr;
    a.deleteVideo(href=`${video.id}/remove` class="secondary") Delete Video &rarr;
