extends ../layout
include ../mixins/video

block content
  div.profile--grid
    img(src=user.avatarUrl.startsWith("http") ? user.avatarUrl : `/${user.avatarUrl}`, alt=`${user.nickname}'s Avatar`).profile--avatar
    article 
      h4.profile--nickname=user.nickname 
      small="@"+user.username
      small="Joined At "+user.joinedAt
  div
    h2.semi-title="Uploaded Videos"
    hr.divider-grey
    if user.videos.length === 0
      span.no-video-message No videos yet.. Start sharing your moments 🚀
    else
      .video-grid
        each video in user.videos
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
