extends ../layout
include ../mixins/video

block content
  div.grid
    img(src=user.avatarUrl.startsWith("http") ? user.avatarUrl : `/${user.avatarUrl}`, alt=`${user.nickname}'s Avatar`, width="200", height="200")
    article 
      h4=user.nickname 
      small(style={"display":"block"})="@"+user.username
      small(style={"display":"block"})="Joined At "+user.joinedAt
  hr.divider-grey
  div
    h2="Uploaded Videos"
    if user.videos.length === 0
      span.no-video-message No videos yet.. Start sharing your moments 🚀
    else
      .video-grid
        each video in user.videos
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
          +video(video)
